In [1]:
string = 'google.com'
char_count = {}

for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [4]:
words = ['abc', 'xyz', 'aba', '1221']
count = 0

for word in words:
    if len(word) >= 2 and word[0] == word[-1]:
        count += 1

print("Number of matching strings:", count)

Number of matching strings: 2

In [8]:
input_str = input("Enter a string: ")

if len(input_str) < 2:
    result = ''
else:
    result = input_str[:2] + input_str[-2:]

print(result)

Enter a string: hello
helo

In [11]:
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(sample_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [13]:
s = input("Enter a string: ")

if len(s) < 3:
    result = s
elif s.endswith('ing'):
    result = s + 'ly'
else:
    result = s + 'ing'

print("Result:", result)

Enter a string: Playing
Result: Playingly

In [14]:
squares = [x**2 for x in range(1, 21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [17]:
numbers = [23, 1, 45, 34, 7, 89, 2]

largest = numbers[0]
smallest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

print("Largest number:", largest)
print("Smallest number:", smallest)

Largest number: 89
Smallest number: 1

In [18]:
def common_elements(list1, list2):
    return set(list1) & set(list2)

list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

result = common_elements(list_a, list_b)
print("Common elements:", result)

Common elements: {4, 5}

In [20]:
words = ["apple", "banana", "cherry", "apple", "cherry", "date", "banana"]

word_count = {}
duplicates = []

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

for word, count in word_count.items():
    if count > 1:
        duplicates.append(word)

print("duplicate words:", duplicates)

duplicate words: ['apple', 'banana', 'cherry']

In [21]:
def set_operations(set1, set2):
    union = set1 | set2
    intersection = set1 & set2
    difference = set1 - set2
    return union, intersection, difference

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

union, intersection, difference = set_operations(set_a, set_b)

print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [22]:
def sum_scores(tuples):
    score_dict = {}
    for name, score in tuples:
        if name in score_dict:
            score_dict[name] += score
        else:
            score_dict[name] = score
    return score_dict

scores = [('Alice', 90), ('Bob', 85), ('Alice', 95)]
result = sum_scores(scores)
print(result)

{'Alice': 185, 'Bob': 85}

In [23]:
words = ["apple", "banana", "cherry", "date"]
word_length = {}

for word in words:
    word_length[word] = len(word)

print(word_length)

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}

In [24]:
numbers_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in numbers_tuple)
print(doubled_tuple)

(2, 4, 6, 8, 10)

In [25]:
def swap_first_last(tup):
    if len(tup) > 1:
        return (tup[-1],) + tup[1:-1] + (tup[0],)
    return tup

original_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_first_last(original_tuple)
print(swapped_tuple)

(5, 2, 3, 4, 1)

In [26]:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)

result_tuple = tuple(set(tuple1) | set(tuple2))

print(result_tuple)

(1, 2, 3, 4, 5, 6)